@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: #000;
}

.reveal {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.reveal.active {
  opacity: 1;
  transform: translateY(0);
}
